:root {
  --copper-rose:  #A36560;
  --independence: #524D67;
  --pewter-blue: #8CACBD;
}

body {
  margin: 10px;
  font-family: sans-serif;
  text-align: center;
  background-color: ghostwhite;
}

.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  gap: 20px;
}

.container2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box1, .box2, .box3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  background-color: var(--copper-rose);
  min-height: 170px;
}

.box2 {
  background-color: var(--independence);
  min-height: 550px;
  flex-grow: 5;
}

.box3 {
  background-color: var(--pewter-blue);
  min-height: 170px;
  flex-grow: 2;
}

@media (min-width: 800px) { 
  .container2 {flex-direction: row}
  .box1 {width: 100%;}
  .box2 {width: 75%; height: 740px;}
  .box3 {width: 25%; height: 740px;}
}