:root {
  --copper-rose:  #A36560;
  --independence: #524D67;
  --pewter-blue: #8CACBD;
}

body {
  margin: 0px;
  font-family: sans-serif;
  text-align: center;
  background-color:  ghostwhite;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.a {
  background-color: var(--copper-rose);
  min-height: 15vh;
  flex-grow: 1;
  margin: 10px;
}

.b {
  background-color: var(--independence);
  min-height: 65vh;
  flex-grow: 1;
  margin: 10px;
}

.c { 
  background-color: var(--pewter-blue);
  min-height: 15vh;
  flex-grow: 1;
  margin: 10px;
}