:root {
  --copper-rose:  #A36560;
  --independence: #524D67;
  --pewter-blue: #8CACBD;
}

body {
  margin: 10px;
  font-family: sans-serif;
  text-align: center;
  background-color: ghostwhite;
}

.container {
  display: grid;
  height: 100vh;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "box1 box1 box1"
  "box2 box2 box3"
  "box2 box2 box3";
}

.box1, .box2, .box3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  background-color: var(--copper-rose);
  grid-area: box1;
}

.box2 {
  background-color: var(--independence);
  grid-area: box2;
}

.box3 {
  background-color: var(--pewter-blue);
  grid-area: box3;
}


@media (max-width: 800px) { 
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "box1 box1 box1"
    "box2 box2 box2"
    "box3 box3 box3";
  }
}