:root {
  --pastel-blue: #B5C7CC;
  --cadet-grey: #8BA1AD;
  --steel-teal: #587B89;
  --police-blue: #244C66;
  --deep-aquamarine: #407D6C;
  --dark-sea-green: #7DB290;
}

body {
  margin: 0px;
  font-family: sans-serif;
  text-align: center;
  background-color:  ghostwhite;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.desktop-containers{
  display: flex;
  flex-direction: column;
}

.a {
  background-color: var(--pastel-blue);
  min-height: 15vh;
  flex-grow: 1;
  margin: 10px;
}

.b {
  background-color: var(--cadet-grey);
  min-height: 60vh;
  flex-grow: 1;
  margin: 10px;
}

.c { 
  background-color: var(--steel-teal);
  min-width: 30vh;
  min-height: 30vh;
  flex: 33%;
  margin: 10px;
}

.d { 
  background-color: var(--police-blue);
  min-width: 30vh;
  min-height: 30vh;
  flex: 33%;
  margin: 10px;
}

.e { 
  background-color: var(--deep-aquamarine);
  min-width: 30vh;
  min-height: 30vh;
  flex: 33%;
  margin: 10px;
}

.f { 
  background-color: var(--dark-sea-green);
  min-height: 15vh;
  flex-grow: 1;
  margin: 10px;
}

@media screen and (min-width:600px) {
  .desktop-containers {
    flex-direction: row;
  }
}